<!-- app/views/busca/index.html.erb -->

<!DOCTYPE html>
<html>
<head>
  <title>Tela de Busca</title>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

    * {
      margin: 0;
      border: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Poppins", sans-serif;
    }

    body {
      background: linear-gradient(45deg, #000000, #ffffff);
      background-repeat: no-repeat;
      min-height: 100vh;
      min-width: 100vw;
      display: grid;
      place-items: center;
    }

    .grid-container {
      background: white;
      min-width: 500px;
      min-height: 50vh;
      padding: 2rem;
      box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
      border-radius: 8px;
      position: relative;
    }

    .logo {
      font-weight: 600;
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }

    .search-box {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
    }

    .search-input {
      flex: 1;
      padding: 0.5rem;
      border-radius: 4px;
      border: 1px solid #ccc;
      font-size: 1rem;
    }

    .search-button {
      background-color: #333333;
      color: white;
      padding: 0.5rem 1rem;
      border: none;
      border-radius: 4px;
      font-size: 1rem;
      cursor: pointer;
    }

    .search-button:hover {
      background-color: #555555;
    }

    .tabs {
      display: flex;
      margin-bottom: 1rem;
    }

    .tab {
      padding: 0.5rem 1rem;
      background-color: #f2f2f2;
      cursor: pointer;
      border-radius: 4px;
      margin-right: 0.5rem;
    }

    .tab.active {
      background-color: #ddd;
    }

    .pages {
      display: none;
    }

    .pages.active-page {
      display: block;
    }

    table {
      width: 100%;
      text-align: center;
    }

    th, td {
      padding: 0.5rem;
    }

    th {
      font-weight: 600;
    }

    .print-button {
      position: absolute;
      top: 1rem;
      right: 1rem;
      background-color: black;
      color: white;
      padding: 0.5rem 1rem;
      border: none;
      border-radius: 2px;
      font-size: 1.2rem;
      cursor: pointer;
    }

    .print-button:hover {
      background-color: #333333;
    }

    .retirar-button:hover{
      background-color: #333333;
    }

    .retirar-button {
      position: absolute;
      top: 1rem;
      right: 8rem;
      background-color: black;
      color: white;
      padding: 0.5rem 1rem;
      border: none;
      border-radius: 2px;
      font-size: 1.2rem;
      cursor: pointer;
    }

    .checkbox-cell {
      text-align: center;
    }

    .export-pages {
      display: none;
    }
  </style>
</head>
<body>
  <div class="grid-container">
    <div class="logo">Minha Tela de Busca</div>
    <div class="search-box">
      <input type="text" id="search-input" placeholder="Digite sua busca..." class="search-input">
      <button onclick="filterResults()" class="search-button">Buscar</button>
    </div>
    <ul class="autocomplete-list"></ul>
    <div class="tabs">
      <div class="tab active">Resultados</div>
      <div class="tab">Consultadas Recentemente</div>
    </div>
    <div class="pages active-page">
      <% if @resultados.any? %>
        <table id="resultados">
          <thead>
            <tr>
              <th>PID</th>
              <th>Data do Cadastro</th>
              <th>Tipo de Material</th>
            </tr>
          </thead>
          <tbody>
            <% @resultados.each do |resultado| %>
              <tr>
                <td><%= resultado.numero_amostra %></td>
                <td><%= resultado.data_coleta %></td>
                <td><%= resultado.tipo_material %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <p>Nenhum resultado encontrado.</p>
      <% end %>
    </div>
  </div>

  <script>
    function filterResults() {
      const searchQuery = document.querySelector("#search-input").value.toLowerCase();
      const rows = document.querySelectorAll("#resultados tbody tr");

      rows.forEach(row => {
        const pid = row.querySelector("td:nth-child(1)").innerText.toLowerCase();
        const dataCadastro = row.querySelector("td:nth-child(2)").innerText.toLowerCase();
        const tipoMaterial = row.querySelector("td:nth-child(3)").innerText.toLowerCase();

        if (
          pid.includes(searchQuery) ||
          dataCadastro.includes(searchQuery) ||
          tipoMaterial.includes(searchQuery)
        ) {
          row.style.display = "";
        } else {
          row.style.display = "none";
        }
      });
    }
  </script>
</body>
</html>
